*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
/* body{
    background-image: url(../img/Camera-da-letto.jpg);
    background-repeat: no-repeat;
    background-size: 2200px;
} */
.container{
    width: 100%;
    height:100vh ;
    margin: 0 auto;
    background-image: url(../img/Camera-da-letto.jpg);
    background-repeat: no-repeat;
    background-size: 2200px;
}
.flex{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    
    

}
.lampadina{
    transform: rotate(180deg);
}

.btn{
    background-color: green;
    padding: 10px;
    color: white;
    border-radius: 25px;
    font-family: sans-serif;
    font-size: 2rem;
    width: 200px;
    text-align: center;
}
.bg-red{
    background-color: red;
}